.ticket_details_container {
    margin: 10px 10px;
}

.ticket_details_gap {
    margin: 15px 0;
    background-color: #4988c3;
    height: 2px;
}

.ticket_details_aircompany {
    margin: 12px 0;
}

.ticket_button {
    width: 100%;
    padding: 12px 5px;
    background-color: orange;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}