.container {
    min-width: 100%;
    min-height: 100%;
    background-color: #dcf4fb;
    border-radius: 12px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}