.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tickets_container {
    width: 100%;
    height: 100%;
}

.tickets_button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 5px;
    background-color: rgb(255, 153, 0);
    color: white;
    border-radius: 12px;
    border: 1px solid white;
    text-transform: uppercase;
    cursor: pointer;
}

.ticket_container {
    margin: 20px 0;
    background-color: #dcf4fb;
}